<%- include("partials/upper", {active_tab: ""}) %>
<h1><%= title %></h1>
<dl class="my-3">
  <dt><%= category.name%></dt>
  <dd><%= category.description %></dd>
</dl>
<ul>
  <% items.forEach(item => { %>
    <%- include("partials/item", {item}) %> 
  <% }) %>
</ul>
<div class="buttons ">
  <a href="/catalog/category/<%= category._id %>/update"><button class="btn btn-primary">Edit</button></a>
  <a href="/catalog/category/<%= category._id %>/delete"><button class="btn btn-danger">Delete</button></a>
</div>
<%- include("partials/bottom") %>
